body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #0054e6;
    color: white;
    border: none;
    border-radius: 5px;
}